body {
  background-color: rgb(80, 78, 78);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* card style */
.card {
  background-color: #646262d0;
  color: white;
  padding: 20px;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 100px 0px;
  height: min-content;
}


/* button style */
.btn {
  font-size: 25px;
  border: 0px;
  margin: 5px;
  border-radius: 50%;
  color: white;
  background-color: #646262d0;
  ;
}

.btn:hover {
  color: white;
  background-color: rgb(8, 8, 8);
  transition: 0.3 ease-in-out;
}


/* input styling */
input[type="text"] {
  border: 2px solid white;
  outline: none;
  padding: 5px;
  border-radius: 30px;
  background-color: rgb(83, 82, 82);
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 80%;
  text-transform: capitalize;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 60%;
}


/* weather details styling */
.description {
  text-transform: capitalize;
  margin-left: 5px;
}

.cloud {
  display: flex;
  align-items: center;
}

.temp {
  margin: 20px 0px;
}

.humidity,
.wind,
.cloud {
  font-size: 20px;
}


/* footer */
footer {
  background-color: #646262d0;

  font-size: 20px;
  font-weight: bold;
  color: black;
}


/* history div */
#searchHistory ul{
  list-style-type: none;
}


/* history div */
#searchHistory ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#searchHistory{
  max-height: 50px;
  overflow-y: scroll;
  cursor: pointer;
}